@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @include MyFlex();

@font-face {
  font-family: "Barlow-Medium";
  src: url("../../../Font/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../../../Font/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../../../Font/Barlow-SemiBold.ttf");
}

@font-face {
  font-family: "NeutralFace-Bold";
  src: url("../../../Font/NeutralFace-Bold.otf");
}

@font-face {
  font-family: "NeutralFace";
  src: url("../../../Font/NeutralFace.otf");
}

header {
  position: relative;

  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .backFont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include MyFlex();
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(4, 5, 9, 0.399) 83%, #1717176b 100%);

    h1 {
      font-size: 50px;
      max-width: 700px;
      text-align: center;
      font-family: "NeutralFace";
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(45deg, #ffffff, #52557dc8);
    }
  }
}

@media only screen and (max-width: 533px) {
  header {
    .backFont {
      h1 {
        font-size: 40px;
      }
    }
  }
}